:root {
    --gr: #007f28;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: Iciel;
    src: url(./Fonts/iCielCadena.otf);
}
@font-face {
    font-family: AvoBold;
    src: url(./Fonts/UTM\ AvoBold.ttf);
}
@font-face {
    font-family: AvoItalic;
    src: url(./Fonts/UTM\ AvoItalic.ttf);
}
@font-face {
    font-family: AvoBoldItalic;
    src: url(./Fonts/UTM\ AvoBold_Italic.ttf);
}
.underline-none{
    text-decoration: none;
}
.bg-gr{
    background-color: var(--gr);
}
.ff-iciel {
    font-family: Iciel;
}
.ff-avobold {
    font-family: AvoBold;
}
.ff-avobolditalic {
    font-family: AvoBoldItalic;
}
.ff-avoitalic {
    font-family: AvoItalic;
}
.fs-big{
    font-size: 4rem;
}
.fs-small{
    font-size: 0.9rem;
}
.fs-smaller{
    font-size: 0.8rem;
}
.text-gardiant {
    color: transparent;
    background: linear-gradient(rgb(255, 247, 2), rgb(255, 247, 2), orange, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px var(--gr);
    filter: drop-shadow(0 -1px 0 white) drop-shadow(0 3px 0px var(--gr));
}
.text-yellow {
    color: yellow;
}
.text-gr {
    color: var(--gr);
}
.text-stroke {
    stroke: 2px var(--gr);
    -webkit-text-stroke: 2px var(--gr);
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
    filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.8)) drop-shadow(0 4px 0px rgb(9, 185, 9, 0.5));
}
.text-upper {
    text-transform: uppercase;
}
.btn {
    display: block;
    background: linear-gradient(yellow, yellow, yellow, orange, orange);
    border-radius: 50px;
    text-transform: uppercase;
    font-family: AvoBold;
    border: 2px solid white;
    transition: 0.2s;
    box-shadow: 0 -3px 10px var(--gr);
}
.btn:hover {
    color: var(--gr);
    border: 2px solid white;
    transform: translateY(-4px);
}
.btn:active{
    color: black !important;
    transform: none;
}

body{
    background-image: url(./image/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
}
/* Header */
header img{
    height: 3.5rem;
}

.part2, .part4{
    margin-top: 5rem;
}
/* part1 */
.part1 .img-title img{
    width: 50%;
    animation: img-title 1.5s ease-in-out;
}
.part1 .img-title h1{
    transform: translateY(-40%);
    font-size: 2.2rem;
}
@keyframes img-title {
    0%{
        transform: translateY(-120%) scale(0.8);
    }
    65%{
        transform: translateY(-120%) scale(0.8);
    }
    78%{
        transform: translateY(3%) scale(1);
    }
    90%{
        transform: scale(1.4);
    }
}
.part1 img{
    object-fit: contain;
    height: max-content;
}
.form-area{
    margin: 0 auto;
    position: relative;
    width: max-content;
}
.part1 .bg-img{
    width: 270%;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
}
.form {
    background-color: #109f5d;
    font-family: AvoBoldItalic;
    width: 350px;
    border: 10px solid #f8f8f8;
    border-radius: 50px;
    height: max-content;
    box-shadow: 0 0 20px white;
    position: relative;
    transform: translateY(-5%);
    z-index: 2;
}
.form-in{
    animation: form-in 0.8s ease-in-out;
}
.form-error{
    animation: form-error 0.3s ease-in-out !important;
}
.form:hover{
    animation: form-flicker 0.2s ease-in-out;
}
@keyframes form-in{
    0%{
        transform: translateX(-300%) scale(0.3);
        opacity: 0.5;
    }
    50%{
        transform: translateX(300%) scale(0.5);
    }
}
@keyframes form-error{
    40%{
        transform: translateX(-20px);
    }
    85%{
        transform: translateX(20px);
    }
}
@keyframes form-flicker{
    50%{
        opacity: 0.8;
    }
}
.form input,
.form select {
    background-color: transparent;
    border: none;
    border-radius: unset;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;
}
.form input:focus,
.form select:focus {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}
.form option{
    background-color: var(--gr);
}
.part1 img.left{
    width: 15rem;
    position: absolute;
    top: 0%;
    right: 105%;
    transform: translateY(-45%);
}
.part1 img.right{
    width: 11rem;
    position: absolute;
    top: 0%;
    left: 115%;
    transform: translateY(-46%);
}

/* part 2 */
.part2 {
    position: relative;
}
.part2 .content img{
    width: 100%;
    object-fit: contain;
}
.part2 .content .left{
    width: 24%;
    transform: translate(5%,5%);
}
.part2 .content .right{
    width: 45%;
    position: relative;
}
.part2 .list-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}
.part2 .content-item{
    position: relative;
    margin-bottom: 2rem;
    opacity: 0;
}
.part2 .content-item.active{
    animation: content-item 1s ease-in-out;
    opacity: 1;
}
@keyframes content-item {
    0%{
        transform: rotate(-20deg) scale(0);
        transform-origin: left;
        opacity: 0;
    }
}
.part2 .content-item .number-left{
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-weight: 900;
    text-shadow: 7px 0px 1px #ecedef;
    position: absolute;
    right: 97%;
    top: 50%;
    transform: translateY(-50%);
}
.part2 .content-item p{
    font-size: 0.8rem;
    font-family: AvoBoldItalic;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #01ad3f;
    padding-left: 1.5rem;
    padding-right: 1rem;
    margin: 0;
}
.part2 .btn{
    width: max-content;
    position: absolute;
    bottom: 1rem;
    left: 0;
}


/* part3 */
.part3{
    margin-top: 10rem;
}
.part3 .iframe-box{
    position: relative;
    margin: 0;
}
.part3 .iframe-box img{
    width: 100%;
}
.part3 .iframe-box iframe{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
}
.part3 .content{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 33%;
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 1rem;
}
.part3 .btn{
    width: max-content;
    margin: 0 auto;
}

/* part4 */
.part4{
    position: relative;
}
.part4 .bg-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-20%);
    z-index: -1;
}
.part4 .bg-img img{
    width: 100%;
}
.part4 img.hc{
    width: 35%;
    object-fit: cover;
}
.part4 .img-box{
    position: relative;
    width: 42%;
}
.img-box::after{
    content: '';
    display: block;
    height: 50px;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(15px);
    position: absolute;
    top: 75%;
    left: 0;
    border-radius: 50%;
}
.part4 .img-box img{
    width: 100%;
    transform: translate(3%,-15%);
}

/* part5 */
.feedback-group {
    position: relative;
    opacity: 0;
}
.feedback-group.active{
    animation: feedback 0.5s ease-in-out;
    opacity: 1;
}
@keyframes feedback{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
}
.feedback-group img.box {
    width: 290px;
}
.feedback-group .text {
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
    padding: 0 0.5rem;
    text-align: justify;
}
.feedback-group img.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 5px solid orange;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%);
    box-shadow: 0 0 15px black;
}
.feedback-group .infor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}
.feedback-group .infor .card{
    background-color: transparent;
    border: none;
}
.feedback-group .infor .card .card-body >*{
    text-align: center;
    color: white;
    text-shadow: 0 3px 5px var(--gr);
}

/* Footer */
footer .telephone{
    width: 6rem;
    height: 6rem;
    background-color: orange;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    animation: zoominout 1.5s ease-in-out infinite;
}
@keyframes zoominout{
    40%{
        transform: scale(0.8);
        box-shadow: 0 0 10px white;
    }
    60%{
        transform: scale(0.8);
        box-shadow: 0 0 10px white;
    }
}
footer .icon-telephone{
    font-size: 1rem;
}
footer .mess{
    width: 4rem;
    height: 4rem;
    background-color: #38ca79;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    filter: drop-shadow(0 -1px 2px rgba(255, 255, 255, 0.5));
}
footer .icon-mess{
    font-size: 30px;
}
footer .contact{
    background-color: #006837;
    font-family: 'Times New Roman', Times, serif;
}
footer .logo{
    width: 100%;
}


/*  */